src/config/NodeRed.json
[
    {
        "id": "c2828f844bc7c9cf",
        "type": "tab",
        "label": "Flujo 1",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "1c60a2071c41620b",
        "type": "ui_tab",
        "name": "PROYECTO IOT",
        "icon": "dashboard",
        "order": 1,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "a126d50917cdd641",
        "type": "ui_group",
        "name": "SISTEMA DE MONITOREO",
        "tab": "",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "8302bd4273c89b1b",
        "type": "ui_base",
        "theme": {
            "name": "theme-light",
            "lightTheme": {
                "default": "#0094CE",
                "baseColor": "#0094CE",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": true,
                "reset": false
            },
            "darkTheme": {
                "default": "#097479",
                "baseColor": "#097479",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": false
            },
            "customTheme": {
                "name": "Untitled Theme 1",
                "default": "#4B7930",
                "baseColor": "#4B7930",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
            },
            "themeState": {
                "base-color": {
                    "default": "#0094CE",
                    "value": "#0094CE",
                    "edited": false
                },
                "page-titlebar-backgroundColor": {
                    "value": "#0094CE",
                    "edited": false
                },
                "page-backgroundColor": {
                    "value": "#fafafa",
                    "edited": false
                },
                "page-sidebar-backgroundColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "group-textColor": {
                    "value": "#1bbfff",
                    "edited": false
                },
                "group-borderColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "group-backgroundColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "widget-textColor": {
                    "value": "#111111",
                    "edited": false
                },
                "widget-backgroundColor": {
                    "value": "#0094ce",
                    "edited": false
                },
                "widget-borderColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "base-font": {
                    "value": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
                }
            },
            "angularTheme": {
                "primary": "indigo",
                "accents": "blue",
                "warn": "red",
                "background": "grey",
                "palette": "light"
            }
        },
        "site": {
            "name": "Node-RED Dashboard",
            "hideToolbar": "false",
            "allowSwipe": "false",
            "lockMenu": "false",
            "allowTempTheme": "true",
            "dateFormat": "DD/MM/YYYY",
            "sizes": {
                "sx": 48,
                "sy": 48,
                "gx": 6,
                "gy": 6,
                "cx": 6,
                "cy": 6,
                "px": 0,
                "py": 0
            }
        }
    },
    {
        "id": "4cd5d50c516738da",
        "type": "mqtt-broker",
        "name": "",
        "broker": "broker.emqx.io",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "06635fee19d6ab68",
        "type": "mqtt-broker",
        "name": "",
        "broker": "broker.emqx.io",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "1470633b9db68437",
        "type": "ui_group",
        "name": "Group 1",
        "tab": "1c60a2071c41620b",
        "order": 1,
        "disp": true,
        "width": 6
    },
    {
        "id": "741eade0765a1972",
        "type": "mqtt in",
        "z": "c2828f844bc7c9cf",
        "name": "",
        "topic": "esp32/topico2024",
        "qos": "0",
        "datatype": "auto-detect",
        "broker": "4cd5d50c516738da",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 150,
        "y": 420,
        "wires": [
            [
                "6d0661a09ed00d79",
                "8fa6a0e93ce9c953"
            ]
        ]
    },
    {
        "id": "6d0661a09ed00d79",
        "type": "debug",
        "z": "c2828f844bc7c9cf",
        "name": "debug 1",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 360,
        "y": 360,
        "wires": []
    },
    {
        "id": "8fa6a0e93ce9c953",
        "type": "function",
        "z": "c2828f844bc7c9cf",
        "name": "function 1",
        "func": "var values = msg.payload.split(',');\nreturn [\n    { payload: values[0] },\n    { payload: values[1] },\n    { payload: values[2] },\n    { payload: values[3] },\n    { payload: values[4] }\n];\n",
        "outputs": 5,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 180,
        "y": 680,
        "wires": [
            [
                "fcf3be4e31eef18a"
            ],
            [
                "552ca3451b2ad41a"
            ],
            [
                "65267981e1da6b0a"
            ],
            [
                "70684f5ba625b222"
            ],
            [
                "80fdaf0ccf86de3a"
            ]
        ]
    },
    {
        "id": "fcf3be4e31eef18a",
        "type": "ui_gauge",
        "z": "c2828f844bc7c9cf",
        "name": "",
        "group": "1470633b9db68437",
        "order": 1,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Temperatura",
        "label": "units",
        "format": "{{value}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 390,
        "y": 620,
        "wires": []
    },
    {
        "id": "552ca3451b2ad41a",
        "type": "ui_gauge",
        "z": "c2828f844bc7c9cf",
        "name": "",
        "group": "1470633b9db68437",
        "order": 2,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Humedad",
        "label": "units",
        "format": "{{value}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 380,
        "y": 660,
        "wires": []
    },
    {
        "id": "65267981e1da6b0a",
        "type": "ui_gauge",
        "z": "c2828f844bc7c9cf",
        "name": "",
        "group": "1470633b9db68437",
        "order": 3,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Humedad De Suelo",
        "label": "units",
        "format": "{{value}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 410,
        "y": 700,
        "wires": []
    },
    {
        "id": "80fdaf0ccf86de3a",
        "type": "ui_template",
        "z": "c2828f844bc7c9cf",
        "group": "1470633b9db68437",
        "name": "Motor",
        "order": 5,
        "width": 0,
        "height": 0,
        "format": "<div style=\"text-align: center; font-size: 24px; padding: 10px;\">\n  <span>Bomba de Agua: </span>\n  <span ng-style=\"{'color': msg.payload == 1 ? 'green' : 'red', 'font-weight': 'bold'}\">\n    {{msg.payload == 1 ? '🟢 ON' : '🔴 OFF'}}\n  </span>\n</div>",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "resendOnRefresh": true,
        "templateScope": "local",
        "className": "",
        "x": 390,
        "y": 820,
        "wires": [
            []
        ]
    },
    {
        "id": "70684f5ba625b222",
        "type": "ui_template",
        "z": "c2828f844bc7c9cf",
        "group": "1470633b9db68437",
        "name": "Lluvia",
        "order": 4,
        "width": 0,
        "height": 0,
        "format": "<div style=\"text-align: center; font-size: 24px; padding: 10px;\">\n  <span>LLuvia: </span>\n  <span ng-style=\"{'color': msg.payload == 1 ? 'green' : 'red', 'font-weight': 'bold'}\">\n    {{msg.payload == 1 ? '🟢 SI' : '🔴 NO'}}\n  </span>\n</div>",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "resendOnRefresh": true,
        "templateScope": "local",
        "className": "",
        "x": 390,
        "y": 760,
        "wires": [
            []
        ]
    }
]